@model IEnumerable<HeThongTinTuc.Models.chuyenmuc>

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-8 my-3">
        <h2 class="text-primary">Danh Sách Chuyên Mục</h2>
    </div>
    <div class="col-4 my-3">
        <div class="row ">
            @using (Html.BeginForm("Index", "chuyenmuc"))
            {
                <p class="fsearch input-group m-1 p-1">
                    @Html.TextBox("Searching", "", new { @class = "fs border-primary rounded-left" })
                    <button class="btn btn-primary" type="submit">Tìm Kiếm</button>
                </p>
            }
        </div>
    </div>
</div>

<p>
    <a asp-action="Create" class="btn btn-outline-info">Create new</a>
</p>
<table class="table" style="border: 1px">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.thutu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tenchuyenmuc)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.thutu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tenchuyenmuc)
            </td>

            <td>
                <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@item.chuyenmucid">Edit</a> |
                <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.chuyenmucid">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
